:host { 
  display: contents; 
}
.sing-up-w-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sing-up-w-container1 {
  gap: 1rem;
  width: 400px;
  height: auto;
  display: flex;
  padding: 2rem;
  max-width: 400px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #afa9a9;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.sing-up-w-text {
  font-size: 4rem;
  font-family: Exo 2;
}
.sing-up-w-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sing-up-w-container3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sing-up-w-container4 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sing-up-w-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sing-up-w-button {
  width: 20rem;
  display: flex;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: center;
}
.sing-up-w-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .sing-up-w-container1 {
    padding: 7rem;
  }
}
@media(max-width: 479px) {
  .sing-up-w-container1 {
    padding: 2rem;
  }
  .sing-up-w-textinput {
    width: 90%;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .sing-up-w-textinput1 {
    width: 90%;
    padding-left: .3rem;
    padding-right: .3rem;
  }
  .sing-up-w-textinput2 {
    width: 90%;
    padding-left: .3rem;
    padding-right: .3rem;
  }
}
