:host { 
  display: contents; 
}
.chat-control-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.chat-control-container1 {
  gap: 2rem;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
}
.chat-control-textinput {
  flex: 1;
}
.chat-control-button {
  display: flex;
  flex-direction: row;
}
.chat-control-icon {
  width: 24px;
  height: 24px;
}
.chat-control-container2 {
  width: 100%;
  height: 5rem;
}
.chat-control-button1 {
  width: 100%;
}
.chat-control-button2 {
  width: 100%;
}
