:host { 
  display: contents; 
}
.top-bar-base-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: row;
  justify-content: center;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.top-bar-base-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.top-bar-base-logo {
  height: 2rem;
}
.top-bar-base-desktop-menu {
  display: flex;
}
.top-bar-base-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.top-bar-base-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.top-bar-base-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.top-bar-base-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.top-bar-base-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.top-bar-base-login {
  display: flex;
  margin-right: 1rem;
  flex-direction: row;
}
.top-bar-base-icon {
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.top-bar-base-text04 {
  align-self: center;
}
.top-bar-base-register {
  display: flex;
  flex-direction: row;
}
.top-bar-base-icon02 {
  width: 24px;
  height: 24px;
}
.top-bar-base-text05 {
  align-self: center;
}
.top-bar-base-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.top-bar-base-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.top-bar-base-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.top-bar-base-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.top-bar-base-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.top-bar-base-image {
  height: 2rem;
}
.top-bar-base-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar-base-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.top-bar-base-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.top-bar-base-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.top-bar-base-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.top-bar-base-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.top-bar-base-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.top-bar-base-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.top-bar-base-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.top-bar-base-icon-group {
  display: flex;
}
.top-bar-base-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.top-bar-base-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.top-bar-base-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

@media(max-width: 767px) {
  .top-bar-base-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .top-bar-base-desktop-menu {
    display: none;
  }
  .top-bar-base-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .top-bar-base-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .top-bar-base-text03 {
    margin-left: var(--dl-space-space-unit);
  }
  .top-bar-base-btn-group {
    display: none;
  }
  .top-bar-base-burger-menu {
    display: flex;
  }
  .top-bar-base-icon04 {
    width: 32px;
    height: 32px;
  }
}
@media(max-width: 479px) {
  .top-bar-base-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .top-bar-base-icon04 {
    width: 24px;
    height: 24px;
  }
  .top-bar-base-mobile-menu {
    padding: 16px;
  }
  .top-bar-base-nav1 {
    padding: 1rem;
  }
}
