:host { 
  display: contents; 
}
.top-bar-container {
  width: 100%;
  height: 170px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #757575;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(79, 139, 178) 20.00%,rgb(71, 136, 0) 100.00%);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.top-bar-text {
  color: var(--dl-color-gray-black);
}





