:root {
  --dl-color-red-100: #f37b70ff;
  --dl-color-red-300: #f77e73ff;
  --dl-color-red-500: #fb8176ff;
  --dl-color-red-700: #ff8277ff;
  --dl-color-red-900: #ff9187ff;
  --dl-color-blue-100: #1d2a54ff;
  --dl-color-blue-300: #2b4086ff;
  --dl-color-blue-500: #3958baff;
  --dl-color-blue-700: #4267deff;
  --dl-color-blue-900: #4c76feff;
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-till-100: #008080ff;
  --dl-color-till-300: #009898ff;
  --dl-color-till-500: #00b1b1ff;
  --dl-color-till-700: #00cdcdff;
  --dl-color-till-900: #00e8e8ff;
  --dl-color-warn-300: #d6d600ff;
  --dl-color-warn-500: #cdcd28ff;
  --dl-color-warn-700: #eaea71ff;
  --dl-color-green-100: #58b275ff;
  --dl-color-green-300: #61c682ff;
  --dl-color-green-500: #68d78bff;
  --dl-color-green-700: #71ea98ff;
  --dl-color-green-900: #7bffa6ff;
  --dl-color-till-1100: #00ffffff;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-yellow-100: #e7cb61ff;
  --dl-color-yellow-300: #edd064ff;
  --dl-color-yellow-500: #f3d666ff;
  --dl-color-yellow-700: #f8da68ff;
  --dl-color-yellow-900: #ffe06bff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 0.5rem;
  --dl-radius-radius-radius8: 1rem;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-radius-radius-radius12: 1.5rem;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  cursor: auto;
  padding: 1rem;
  border-width: thin;
  border-radius: var(--dl-radius-radius-radius4);
}
.input-w {
  width: 100%;
  cursor: auto;
  border-bottom: 2px solid;
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.list-item-w {
  border: 2px solid gray;
  display: list-item;
  padding: 1rem;
}
.teleport-show {
  display: flex !important;
}
.top {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  border-color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-300);
}
.top:disabled {
  fill: var(--dl-color-primary-100);
  color: var(--dl-color-primary-100);
  border-color: var(--dl-color-primary-100);
  background-color: var(--dl-color-gray-900);
}
.icon {
  margin: .1rem;
  align-self: center;
}
.icon-aling-item {
  margin: .1rem;
  align-self: center;
}
.btn-w {
  border: .2rem solid;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  font-weight: bold;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
}
.primary-w-till {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  border-color: var(--dl-color-till-500);
  background-color: var(--dl-color-till-300);
}
.primary-w-till:disabled {
  fill: var(--dl-color-till-300);
  color: var(--dl-color-till-300);
  border-color: var(--dl-color-till-300);
  background-color: var(--dl-color-gray-900);
}
.primary-w-red {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  border-color: var(--dl-color-red-300);
  background-color: var(--dl-color-red-100);
}
.primary-w-blue {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  border-color: var(--dl-color-blue-700);
  background-color: var(--dl-color-blue-500);
}
.primary-w-blue-stroke {
  fill: var(--dl-color-blue-300);
  color: var(--dl-color-blue-300);
  border-color: var(--dl-color-blue-300);
}
.primary-w-red-stroke {
  fill: var(--dl-color-red-100);
  color: var(--dl-color-red-100);
  border-color: var(--dl-color-red-100);
}
.primary-w-till-stroke {
  fill: var(--dl-color-till-300);
  color: var(--dl-color-till-300);
  border-color: var(--dl-color-till-300);
}
.btn-row {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-around;
}
.margin-top-w {
  margin-top: 2rem;
}
.label {
  fill: var(--dl-color-green-100);
  color: var(--dl-color-green-100);
  width: fit-content;
  border: thin solid;
  padding: .25rem;
  position: absolute;
  font-size: .8rem;
  margin-top: -1.1rem;
  align-items: center;
  margin-left: 1rem;
  border-color: var(--dl-color-green-500);
  align-content: center;
  border-radius: var(--dl-radius-radius-radius12);
  background-color: var(--dl-color-gray-white);
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
